/* .float-container {
    border: 3px solid #fff;

}

.float-child {
    width: 50%;
    float: left;
   
}  */


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
}  

.flex-child:first-child {
    /* margin-right: 20px; */
} 

.chart-label{
    margin-left: 40px;
    font-weight: 600px;
}